* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Noto Serif', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #72c0fe;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1{
  color: #fff2f2;
  text-shadow:  1px 1px 2px black;
}

.container {
  border-radius: 8px;
  padding: 10px;
  margin: 30px auto;
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #72c0fe;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid #0f5c9b 5px;
}

.container #perto {
  margin-top: 20px;
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 2px solid rgba(255, 255, 255, 0.486);
  padding: 4px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
}

.container #perto:hover {
  border: 4px solid #00000071;
  padding: 4px;
}

.container p {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #1c1b1bb7;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'League Spartan', sans-serif;
} 

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(151, 0, 0);
  color: rgba(255, 255, 255, 0.646);
  font-weight: bolder;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  transition: 0.1s ease;
  background: #00000071;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.486);
  gap: 10px;
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  background: #ff0909ab;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #ffffff;
}

h6 {
  padding: 8px;
}

@media (max-width: 443px)
{
  .container {
    border-radius: 8px;
    padding: 10px;
    margin: 30px auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #72c0fe;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 5% bottom 0%;
    border: solid #0f5c9b 5px;
  }
  a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.646);
    font-weight: bolder;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    transition: 0.1s ease;
    background: #ff0909ab;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    gap: 10px;
  }
}

@media (max-width: 376px)
{
  .container {
    border-radius: 8px;
    padding: 10px;
    margin: 30px auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #72c0fe;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 30% bottom 10%;
  }
  a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.646);
    font-weight: bolder;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    transition: 0.1s ease;
    background: #ff0909ab;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    gap: 10px;
  }
 
}

img{
  width:20px;
  height:20px;
}

a div{
  width:20px;
  height:20px;
  padding:0px;
  margin:0px;
}

#local{
  width: 30px;
  height: 30px;
}

label{
  display: flex;
  color: rgb(27, 26, 26);
  align-items: center;
  text-decoration: underline;
}

#delivery{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

#deli{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #eb2f2f;
}

#endereco{
  color: rgb(27, 26, 26);
}

#color-delivery{
  color: none;
  background: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

#color-delivery:hover{
  background: none;
  box-shadow: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: none;
  border: none;
  color:none;
}
